dwl/src/main/app/dwl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="dwlFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/flights" allowedMethods="GET" doc:name="HTTP"/>
        <set-variable variableName="airportName" value="#['Jitendra']" doc:name="Variable"/>
        <parse-template location="FlightFinder.html" doc:name="Parse Template"/>
    </flow>
    <flow name="dwlFlow1">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/flights" allowedMethods="POST" doc:name="HTTP"/>
        <set-variable variableName="name" value="Jitendra" doc:name="Variable"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:input-payload doc:sample="sample_data\json.json"/>
            <dw:input-variable doc:sample="sample_data\MyPojo.dwl" variableName="name"/>
            <dw:set-payload><![CDATA[%dw 1.0
%namespace tns1 http://www.testurl.com/test
%output application/xml
//%output application/json
//%output application/java
---
//java
//[payload.destination,payload.airline,"MUA",flowVars.name]
// json
//[payload.destination]
//{dest: payload.destination}

//{dest: payload.destination,
	//aline: payload.airline,
	//origin: "MUA",
	//passengerName : flowVars.name,
	//noOfPass : payload.noOfPass as :number 
	//when payload.noOfPass != null and payload.noOfPass !="" otherwise 2}

tns1#flightDetails @(dest: payload.destination): {
	aline: payload.airline,
	origin: {
		origion1 : "1",
		origion2: "2"
	},
	tns1#passangerName: flowVars.name}
 ]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
