dwl/src/main/app/xml.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="xmlFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/static2" allowedMethods="GET" doc:name="HTTP"/>
        <parse-template location="data.xml" doc:name="Parse Template"/>
        <set-payload value="#[payload]" mimeType="application/xml" doc:name="Set Payload"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:input-payload doc:sample="sample_data\empty.xml"/>
            <dw:set-payload resource="classpath:payloadjavajson.dwl"/>
            <dw:set-variable resource="classpath:file.dwl" variableName="destination"/>
            <dw:set-variable resource="classpath:flowvar.dwl" variableName="airlineName"/>
            <dw:set-session-variable resource="classpath:session.dwl" variableName="sessionVarName"/>
            <dw:set-property resource="classpath:property.dwl" propertyName="propVariable"/>
        </dw:transform-message>
    </flow>
</mule>
