jmsreceiver/src/main/app/jmsreceiver.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <db:mysql-config name="MySQL_Configuration" host="iltdb.mulesoft-training.com" port="3306" user="mule" password="mule" database="training" doc:name="MySQL Configuration"/>
    <flow name="jmsreceiverFlow">
        <jms:inbound-endpoint exchange-pattern="request-response" queue="myq" connector-ref="Active_MQ" doc:name="JMS"/>
        <expression-component doc:name="Expression"><![CDATA[import jmsreceiver.Employee;

String[] values =payload.split(",");
int id = Integer.parseInt(values[0]);
String name = values[1];
int salary = Integer.parseInt(values[2]);

payload = new Employee(id,name,salary).toString();]]></expression-component>
        <object-to-string-transformer doc:name="Object to String"/>
        <file:outbound-endpoint path="D:\abc" outputPattern="Accounts.txt" responseTimeout="10000" doc:name="File"/>
        <set-payload value="Successfully done" doc:name="Set Payload"/>
        <logger level="INFO" doc:name="Logger"/>
    </flow>
</mule>
