simpleflow/target/classes/soap.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="soapConsumer" host="0.0.0.0" port="8083" doc:name="HTTP Listener Configuration"/>
    <ws:consumer-config name="webServiceDetails" service="TicketServiceService" port="TicketServicePort" serviceAddress="http://training.cloudhub.io/essentials/delta" wsdlLocation="http://ilt.mulesoft-training.com/essentials/delta?wsdl" doc:name="Web Service Consumer"/>
    <flow name="soapFlow">
        <http:listener config-ref="soapConsumer" path="/soap/{destId}" allowedMethods="GET" doc:name="HTTP"/>
        <set-variable variableName="destId" value="#[message.inboundProperties.'http.uri.params'.destId]" doc:name="Variable"/>
        <parse-template location="data.xml" doc:name="Parse Template"/>
        <ws:consumer config-ref="webServiceDetails" operation="findFlight" doc:name="Web Service Consumer"/>
        <dw:transform-message metadata:id="12178bc1-b414-404e-947e-52cee72bc2bb" doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
%namespace ns0 http://soap.training.mulesoft.com/
---
payload.ns0#findFlightResponse.*return map ((return , indexOfReturn) -> {
	airlineName: return.airlineName,
	price: return.price,
	departureDate: return.departureDate,
	planeType: return.planeType,
	origination: return.origin,
	flightCode: return.code,
	emptySeats: return.emptySeats,
	destination: return.destination
})]]></dw:set-payload>
        </dw:transform-message>
        <logger level="INFO" doc:name="Logger" message="#[]#[payload]"/>
    </flow>
</mule>
