simpleflow/src/main/app/consumebank.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:request-config name="RESTService" host="training.cloudhub.io" port="80" basePath="/build/banking/rest" doc:name="HTTP Request Configuration">
        <http:raml-api-configuration location="https://anypoint.mulesoft.com/apiplatform/repository/public/organizations/1203/apis/9565/versions/9867/files/root"/>
    </http:request-config>
    <http:listener-config name="Consumer" host="0.0.0.0" port="8082" basePath="/rest" doc:name="HTTP Listener Configuration"/>
    <flow name="consumebankFlow">
        <http:listener config-ref="Consumer" path="/bank/{custId}" doc:name="HTTP"/>
        <set-variable variableName="custId" value="#[message.inboundProperties.'http.uri.params'.custId]" doc:name="Variable"/>
        <http:request config-ref="RESTService" path="/customers/{customer_id}/accounts" method="GET" doc:name="United REST Request">
            <http:request-builder>
                <http:uri-param paramName="customer_id" value="#[flowVars.custId]"/>
            </http:request-builder>
        </http:request>
        <object-to-string-transformer doc:name="Object to String"/>
        <logger level="INFO" doc:name="Logger"/>
    </flow>
</mule>
