simpleflow/src/main/app/db.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:context="http://www.springframework.org/schema/context" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd">
    <db:mysql-config name="MySQL_Configuration" host="${db.server}" port="${db.port}" user="${db.user}" password="${db.password}" database="${db.db}" doc:name="MySQL Configuration"/>
    <context:property-placeholder location="classpath:appConfig-${myEnv}.properties"/>
    <db:template-query name="Template_Query" doc:name="Template Query">
        <db:dynamic-query><![CDATA[SELECT *FROM #[tableName] WHERE toAirport='#[myValue]']]></db:dynamic-query>
    </db:template-query>
   
    <flow name="dbFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/db/{myValue}" doc:name="HTTP"/>
        <set-variable variableName="myValue" value="#[message.inboundProperties.'http.uri.params'.myValue]" doc:name="Variable"/>
        <set-variable variableName="tableName" value="flights" doc:name="Variable"/>
        <db:select config-ref="MySQL_Configuration" doc:name="Database">
            <db:template-query-ref name="Template_Query"/>
        </db:select>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <logger level="INFO" doc:name="Logger"/>
    </flow>
</mule>
