jmssender/src/main/app/jmssender.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
    <http:listener-config name="JMS_HTTP_LSTNER" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="jmssenderFlow">
        <http:listener config-ref="JMS_HTTP_LSTNER" path="/jms" doc:name="HTTP"/>
        <set-payload value="#[message.inboundProperties.'http.query.params'.msg]" doc:name="Set Payload"/>
        <set-property propertyName="JmsReplyTo" value="respq" doc:name="Property"/>
        <jms:outbound-endpoint exchange-pattern="request-response" queue="myq" connector-ref="Active_MQ" doc:name="JMS"/>
    </flow>
</mule>
